.header, .footer{
    background: #22ccbd;
    
    }
.sidebar{
    background: #c4cc7b;
    
    }
.content{
     background: #baccc8;
    
    }

.page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
  
                  "header header"
                  "sidebar content"
                  "footer footer" ;
    grid-gap: 10px;
    padding: 10px;
    
    }

@media screen and (max-width: 650px){
        .pege{
            grid-template-columns: 2fr 1fr;
            grid-template-areas:
            
                    "header header"
                    "sidebar content"
                    "footer footer" ;
            }
        
        }


.header{
    grid-area: header;
    padding: 10px;
    border-radius: 7px;
    
    }
.sidebar{
    grid-area: sidebar;
    padding: 10px;
    border-radius: 7px;
    
    }
.content{
    grid-area: content;
    border-radius: 7px;
    padding: 10px;
    
    }

.footer{
    grid-area: footer;
    border-radius: 7px;
    padding: 10px;
    
    }
.front-sidebar{
    grid-area: f-sidebar;
    border-radius: 7%;
    padding: 10%;
    }
